.page {
  position: relative;
  min-height: 100vh;

  display: block;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  background-attachment: fixed;
  margin: 0;
  z-index: 2;
}

.page__content {
  margin: 0 auto;
}
